<form name="spForm" novalidate>
  <h2>{{currentTournament.name}}</h2>
  <fieldset>
    <legend>Mecz</legend>
    <div class="row">
      <div class="col-md-6 ">
        <div class="form-group">
          <label for="player1" class="control-label">Zawodnik 1</label>
          <select class="form-control " id="player1" ng-model="current.firstPlayer"
                  ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname'></select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="player2" class="control-label">Zawodnik 2</label>
          <select class="form-control " id="player2" ng-model="current.secondPlayer"
                  ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname'></select>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<div class="row">
  <div class="col-md-12 form-footer text-center">
    <button type="button" class="btn btn-default" ui-sref="scores" >Anuluj</button>
    <button type="button" class="btn btn-danger" ng-if="current.id" ng-click="remove(current)" >Usun</button>
    <button type="button" class="btn btn-success" ng-if="current.id" ng-click="save(current)" >Aktualizuj</button>
    <button type="button" class="btn btn-success" ng-if="!current.id" ng-click="save(current)" >Dodaj</button>
  </div>
</div>
