<form name="spForm" novalidate>
  <h2>Zawodnicy</h2>
  <fieldset>
    <legend>Informacje podstawowe</legend>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name" class="control-label">Imie (wymagane)</label>
          <input class="form-control" id="name" ng-model="current.name" placeholder="Imie gracza" required btr-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="surname" class="control-label"> Nazwisko (wymagane)</label>
          <input id="surname" class="form-control" ng-model="current.surname" placeholder="Nazwisko gracza"
                 required btr-validation/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="telephone" class="control-label">Telefon (wymagane)</label>
          <input class="form-control" name="start" id="telephone" ng-model="current.telephone" ng-minlength="9" ng-maxlength="9" placeholder="np. 768 324 322" ng-pattern="/^\d{0,9}(\.\d{1,9})?$/"
                 required btr-validation>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="birth" class="control-label">Wiek (wymagane)</label>
          <input class="form-control" type="text" name="start" id="birth" ng-model="current.age" ng-minlength="1" ng-maxlength="2" placeholder="Wiek gracza"
                 required btr-validation>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div class="modal fade" id="saveModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodawanie gracza</h4>
      </div>
      <div class="modal-body">
        <p>Zakończona pomyślnie</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-footer text-center">
    <button type="button" class="btn btn-default" ui-sref="scores" >Anuluj</button>
    <button type="button" class="btn btn-danger" ng-if="current.id" ng-click="remove(current)" >Usun</button>
    <button type="button" class="btn btn-success" ng-if="current.id" ng-click="save(current)" ng-disabled="spForm.$invalid || spForm.$pristine">Aktualizuj</button>
    <button type="button" class="btn btn-success" ng-if="!current.id" ng-click="save(current)" ng-disabled="spForm.$invalid || spForm.$pristine">Dodaj</button>
    <button type="button" class="btn btn-info" ng-if="current.id" ng-click="create()" >Nowy gracz</button>
  </div>
</div>
<br><br>

<legend >Lista graczy</legend>
<div ng-show="!allPlayers.length">
  <div class="alert alert-warning">
    <strong>Uwaga!</strong> Brak dodanych graczy.
  </div>
</div>
<table ng-show="allPlayers.length" class="table table-hover table-striped">
  <thead>
  <th>Numer</th>
  <th>Imię</th>
  <th>Nazwisko</th>
  <th>Wiek</th>
  <th>Telefon</th>
  <th></th>
  </thead>
  <tbody>
  <tr ng-repeat="playerRow in allPlayers">
    <td>{{$index+1}}.</td>
    <td class="col-md-3">
      <div class="form-group">
        <label class="control-label">{{playerRow.name}}</label>
      </div>
    </td>
    <td class="col-md-3">
      <div class="form-group">
        <label class="control-label">{{playerRow.surname}}</label>
      </div>
    </td>
    <td class="col-md-3">
      <div class="form-group">
        <label class="control-label">{{playerRow.age}}</label>
      </div>
    </td>
    <td class="col-md-3">
      <div class="form-group">
        <label class="control-label">{{playerRow.telephone}}</label>
      </div>
    </td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="remove(playerRow)" >Usun</button>
    </td>
  </tr>
  </tbody>
</table>
