<div>
  <fieldset>
    <legend ng-if="currentTournament.name"><h2>Turniej - {{currentTournament.name}}</h2></legend>
    <legend ng-if="!currentTournament.name"><h2>Turniej</h2></legend>
      <label ng-if="!currentTournament.name">Wybierz turniej</label>
      <div  class=" form-group">
        <select class="form-control col-md-2" id="turniejId" ng-model="currentTournament"
                ng-options="pp as pp.name for pp in tournaments track by pp.name" ng-change="getTournamentMatches() ; getTournamentPlayers();"
        ></select>
      </div>
  </fieldset>
  <br>
  <div ng-show="!currentTournament">
    <div class="alert alert-warning">
      <strong>Uwaga!</strong> Wybierz turniej.
    </div>
  </div></div><br>
  <div ng-show="currentTournament">
  <div ng-show="!players.length">
    <div class="alert alert-warning">
      <strong>Uwaga!</strong> Nie mozesz dodac meczu bez dostepnych graczy. <a href ui-sref="players">Dodaj gracza</a>
    </div>
  </div>
  <div ng-show="players.length">
    <legend>Mecze
      <button class="btn btn-success" ng-click="addMatch()">
        Dodaj mecz
      </button>
    </legend>
    <div ng-show="!tournamentMatches.length">
      <div class="alert alert-warning">
        <strong>Uwaga!</strong> Brak meczow.
      </div>
    </div>
    <table ng-show="tournamentMatches.length" class="table table-hover table-striped">
      <thead>
      <th>Numer</th>
      <th>Zawodnik 1</th>
      <th>Zawodnik 2</th>
      <th></th>
      </thead>
      <tbody>
      <tr ng-repeat="matchRow in tournamentMatches | unique:'id'">
        <td>{{$index+1}}.</td>
        <td class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{matchRow.firstPlayer.name}} {{matchRow.firstPlayer.surname}} - telefon: {{matchRow.firstPlayer.telephone}}</label>
          </div>
        </td>
        <td class="col-md-6">
          <div class="form-group">
            <label class="control-label">{{matchRow.secondPlayer.name}} {{matchRow.secondPlayer.surname}} - telefon: {{matchRow.secondPlayer.telephone}}</label>
          </div>
        </td>

        <td><button class="btn btn-info" ng-click="addScore(matchRow.id)">
          Wprowadz wynik meczu
        </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div >
    <legend>Zawodnicy</legend>
    <div ng-show="!tournamentPlayers.length">
      <div class="alert alert-warning">
        <strong>Uwaga!</strong> Dodaj mecze aby dodac zawodnikow.
      </div>
    </div>
    <table ng-show="tournamentPlayers.length" class="table table-hover table-striped">
      <thead>
      <th>Numer</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Telefon</th>
      <th></th>
      </thead>
      <tbody>
      <tr ng-repeat="playerRow in tournamentPlayers">
        <td>{{$index+1}}.</td>
        <td class="col-md-4 ">
          <div class="form-group">
            <input  type="text" class="form-control"
                    placeholder="Imie gracza"
                    name="name_{{$index}}" id="name"
                    ng-model="playerRow.name" >
          </div>
        </td>

        <td class="col-md-4 ">
          <div class="form-group">
            <input  type="text" class="form-control" placeholder="Nazwisko gracza"
                    name="surname_{{$index}}" id="surname"
                    ng-model="playerRow.surname" >
          </div>
        </td>
        <td class="col-md-4">
          <div class="form-group">
            <input  type="text" class="form-control" placeholder="np. 564 598 123"
                    name="telephone_{{$index}}" id="telephone"
                    ng-model="playerRow.telephone" >
          </div>
        </td>

        <td><button class="btn btn-success" ng-click="savePlayer(playerRow);">
          Aktualizuj
        </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
