<div class="container-fluid ">

  <div>

    <legend>
      Turniej
      <div class=" form-group">
        <select class="form-control col-md-2" id="turniejId" ng-model="currentTournament"
                ng-options="pp as pp.name for pp in tournaments track by pp.name"
        ></select>
      </div>{{currentTournament}}
    </legend>

    <div ng-show="!currentTournament">
      <alert type="warning">Wybierz turniej</alert>
    </div>
    <div ng-show="currentTournament">
      <legend>Zawodnicy</legend>
      <table class="table table-hover table-striped">
        <thead>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Telefon</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="playerRow in players">
          <td class="col-md-4 ">
            <div class="form-group">
              <input  type="text" class="form-control"
                      placeholder="Imie gracza"
                      name="phaseStart_{{$index}}" id="name"
                      ng-model="playerRow.name" >
            </div>
          </td>

          <td class="col-md-4 ">
            <div class="form-group">
              <input  type="text" class="form-control" placeholder="Nazwisko gracza"
                      name="phaseStart_{{$index}}" id="surname"
                      ng-model="playerRow.surname" >
            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group">
              <input  type="text" class="form-control" placeholder="np. 675 765 345"
                      name="phaseEnd_{{$index}}" id="telephone"
                      ng-model="playerRow.telephone" >
            </div>
          </td>

          <td><button type="button" class="btn btn-danger pull-right " ng-click="removePhase(rowProjectPhase)">Usun</button></td>
          <td><button class="btn btn-success" ng-click="savePhaseEndDate(rowProjectPhase);">
            Aktualizuj
          </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="!players.length">
      <alert type="warning">Dodaj zawodnikow</alert>
    </div>
    <div ng-show="players.length">
      <legend>Mecze</legend>
      <table class="table table-hover table-striped">
        <thead>
        <th>Zawodnik 1</th>
        <th>Zawodnik 2</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="matchRow in matches">
          <td class="col-md-4 ">
            <div class="form-group">
              <select class="form-control col-md-2" id="Gracz1" ng-model="temp2"
                      ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname'></select>

            </div>
          </td>
          <td class="col-md-4">
            <div class="form-group">
              <select class="form-control col-md-2" id="Gracz2" ng-model="temp1"
                      ng-options='item as (item.name + " "+ item.surname) for item in players track by item.surname'></select>
            </div>
          </td>

          <td><button type="button" class="btn btn-danger pull-right " ng-click="removePhase(rowProjectPhase)">Usun</button></td>
          <td><button class="btn btn-success" ng-click="savePhaseEndDate(rowProjectPhase);">
            Aktualizuj
          </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
